body {
    background-color: rgb(43, 43, 43);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.barra {
    display: flex;
    justify-content: space-around;
    background-color: rgb(97, 97, 97);
    padding: 100px;
    border-radius: 10px;
}

.menubar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: white;
    padding: 20px;
    transition: right 0.3s ease;
}

.menubar.open {
    right: 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#logo {
    position: absolute;
    width: 450px;
    height: 200px;
    top: 10px;
    right: 10px;
    left: 460px;
}

#logo:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

#modelo {
    position: absolute;
    width: 320px;
    height: 120px;
    top: 50px;
    right: 10px;
    left: 1000px;
    cursor: pointer;
}

#modelo:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

#menu {
    position: absolute;
    width: 320px;
    height: 120px;
    top: 50px;
    left: 40px;
    right: 900;
    cursor: pointer;
}

#menu:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.caixa {
    width: 870px;
    height: 570px;
    background-image: url(img/teste.PNG);
    background-size: cover;
    margin: auto;
}

.caixa:hover {
    transform: scale(1.02);
    border: 3px solid black;
    transition: 0.3s;
}